		.signin_btn {
			width: 70%;
			border: 1px solid white;
			background: #303b42;
			color: white;
			margin-top: 0;
			margin-bottom: 0;
		}
		.form-control{
			border-radius: 0;
		}
		.form-control{
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		}


@media (max-width: 1000px) {

	h3 {
		font-size: 60px;
	}
	.signin_btn {
		width: 400px;
		height: 100px;
		font-size: 35px;
		border: 2px solid white;
		border-radius: 10px;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.form-control{
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}
