.form_container {
	margin-top: 10px;
}
.register_btn {
	width: 100%;
	border-radius: 0.25rem;
	margin-top: 0;
	margin-bottom: 10px;
}
@media (max-width: 1000px) {
    .fa-envelope-square {
		width: 100px;
		font-size: 40px;
	}
	.user_card {
		padding: 30px;
  	}
	h3 {
		font-size: 62px;
	}
	.register_btn {
		font-size: 110px;
		width: 400px;
		height: 80px;
		margin-top: 20px;
	}
	.form-control {
		border-radius: 10px;
	}
}
