html,body {
    min-width: 1050px;
    max-width: 2000px;

}
.container-fluid{
    width: 100%;
    padding: 0;
}
.navbar{
    min-width: 1600px;
    margin-bottom: 20px;
}
.table-bordered{
    width: 98%;
    white-space: nowrap;
    table-layout:fixed;
}
td{
    overflow: hidden;
}

