html, body {
    overflow-x: hidden;
    min-width: 1050px;
    max-width: 2000px;
}
div::-webkit-scrollbar {
    /*body {
      -ms-overflow-style: none;  for Internet Explorer, Edge
      scrollbar-width: none;  for Firefox
    }*/
    display: none; /* for Chrome, Safari, and Opera */
}
.container-fluid {
    width: 100%;
    padding: 0;
}
.navbar {
    min-width: 1580px;
    margin-bottom: 100px;
}
.active{
    color: lightgray !important;
}
.downloads {
    position: absolute;
    top: 70px;
    right: 12px;
}

/* TABLE */
.table-bordered {
    width: 98%;
    white-space: nowrap;
    table-layout:fixed;
    border-collapse: separate;
    border-spacing: 0;
}
th {
    margin-bottom: -20px;
    background-color: rgba(255, 255, 255, 1);
    position: sticky;
    top: 0;
}
.contactFields {
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn {
    margin-left: -2px;
    font-size: 14px;
    padding: 4px;
    width: 60px;
    height: 30px;
}
/* TABLE */


/* HOME */
h1 {
    margin-left: 21.3%;
    font-weight: bold;
    margin-top: 50px;
    font-size: 150px;
}
h2 {
    animation: slide-down 0.5s ease-out, bounce-slime 1s ease-in-out alternate, fade-in 0.8s ease-in;
    font-size: 80px;
    margin-top: 15%;
}
h6 {
    animation: fade-out-in 2s ease-in-out infinite;
}
.linkList {
    animation: slide-down 0.5s ease-out, bounce-slime 1s ease-in-out alternate, fade-in 0.8s ease-in, infinite-bounce 0.7s ease-in-out 1s infinite alternate;
    font-size: 80px;
    margin-top: 14%;
}
/* HOME */



@keyframes slide-down {
    0% {
        transform: translateY(-100px) ;
    }
    60% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes bounce-slime {
    60% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes infinite-bounce {
    50% {
        transform: translateY(-5px);
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out-in {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
